.title {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--timberwolf);
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.main {
  padding: 2rem;
}

.button {
  background-color: var(--timberwolf);
  font-family: var(--primary-font);
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.music-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--maize-crayola);
  width: 250px;
  margin: 2rem auto 0;
  padding: 1rem;
  border-radius: 4px;
}

.music-info__image {
  width: 200px;
}

.music-info__list {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.music-info__item--music {
  display: flex;
}

.music-info__item {
  font-size: 15px;
  margin: 0.5rem auto 0;
}

.music-info__link {
  padding-right: 0.5rem;
  color: inherit;
}

.music-info__icon {
  width: 20px;
}
