.page-title {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--timberwolf);
  font-size: 40px;
  background-color: var(--glaucous);
  display: flex;
  padding: 1.5rem;
  align-self: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 50rem;
}

.header {
  background-color: var(--jet);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 100vw;
}

.body {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--jet);
}

.main {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  height: 25vh;
  width: 100vw;
}

.indication-button {
  background-color: var(--timberwolf);
  font-family: var(--primary-font);
  font-size: 20px;
  padding: 0.5rem;
  width: 20vw;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.infos-music-section {
  display: flex;
  text-align: justify;
  margin: 12rem 0;
}

.album-section {
  display: flex;
  width: 200px;
}

.ul-section {
  display: flex;
  flex-direction: column;
}

.li-section {
  background-color: var(--maize-crayola);
  padding: 0.5rem;
  display: flex;
  align-self: center;
  border-radius: 0.5rem;
  margin: 0.2rem;
  width: 50vw;
  font-size: 15px;
}

.li-section a {
  padding-right: 0.5rem;
}

.li-img {
  width: 20px;
  position: relative;
  display: flex;
}
