:root {
  --primary-font: "KoHo";

  --maize-crayola: #e8c547;
  --jet: #30323d;
  --independence: #4d5061;
  --glaucous: #5c80bc;
  --timberwolf: #cdd1c4;

  --rich-black: #0a0908;
  --mountbatten-pink: #9e768f;
  --wild-blue: #9fa4c4;
  --light-blue: #b3cdd1;
  --tea-green: #c7f0bd;
}
